.DS_Store
__pycache__/
*.pyc

.cache/
.tools/

fontagent.db
fontagent.db.pre_live_validation.bak

demo-project/

examples/*
!examples/agent_workflows/
!examples/agent_workflows/**
!examples/browser_tasks/
!examples/browser_tasks/**
!examples/mcp_configs/
!examples/mcp_configs/**
